*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: uniform;
    src: url(/assets/fonts/Uniform.ttf);
}
body{
    font-family: uniform;
}
/* header */
#titre{
    color: white;
}
header{
    background-color: #186CB0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.buttonHeader{
    margin: 5px;
    color: white;
    border-style: none;
    background-color: #186CB0 ;
}
.buttonHeader:hover{
    font-weight: bold;
}
.iconHeader{
    filter: invert(100%) grayscale(100%);
}

/*  */



/* SECTION 1 */

#section_1{
    margin-top: 10px;
}

#affiche_film{
    background-size: cover;
    background-position: center;
    position: relative;

    height: 300px;
    display: flex;
}
#text_affiche_film{
    display: inline-flex;
    flex-direction: column;
    position: absolute;    
    position: fixed;
    right: 220px;
    bottom: 170px;
    color: white;
    background-color: rgba(0, 0, 0, 0.466) ;    
}

#button_jouer{
    color: white;
    background-color: #D03737;
    opacity: none;
    width: 100%;
}

/*  */

/* SECTION 2 */

#section_2{
    display: flex;

}

.tarifs_films{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 10px;
    padding: 5px;
    color: white;
    background-color: #186CB0;
}
.tarifs_films a {
    text-decoration: none;
    color: wheat;
}
/*  */

/* SECTION 3 */

#section_3_titre{
    color: #186CB0;
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
}

.forfaits_tarifs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ECECEC;
    margin-left: 40px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 1px 1px 0px;
}