*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: uniform;
    src: url(/assets/fonts/Uniform.ttf);
}
body{
    font-family: uniform;
}
/* header */
#titre{
    color: white;
}
header{
    background-color: #186CB0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#header_tim{
    width: 100%;
}

.buttonHeader{
    margin: 5px;
    color: white;
    border-style: none;
    background-color: #186CB0 ;
}
.buttonHeader:hover{
    font-weight: bold;
}
.iconHeader{
    filter: invert(100%) grayscale(100%);
}

/*  */



/* SECTION 1 */

#section_1{
    margin-top: 10px;
}

#affiche_film{
    background-size: cover;
    background-position: center;
    position: relative;

    height: 300px;
    display: flex;
}
#text_affiche_film{
    display: inline-flex;
    flex-direction: column;
    position: absolute;    
    right: 370px;
    bottom: 570px;
    color: white;
    background-color: rgba(0, 0, 0, 0.466) ;    
}

#button_jouer{
    color: white;
    background-color: #D03737;
    opacity: none;
    width: 100%;
}

/*  */

/* SECTION 2 */

#section_2{
    display: flex;

}

.tarifs_films{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 10px;
    padding: 5px;
    color: white;
    background-color: #186CB0;
}
.tarifs_films a {
    text-decoration: none;
    color: wheat;
}
/*  */

/* SECTION 3 */

#section_3{
    margin: 30px;
}

#section_3_titre{
    color: #186CB0;
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
}

.forfaits_tarifs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ECECEC;
    margin-left: 40px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 1px 1px 0px;
}

/*  */

/* SECTION 4 */

#films{
    color: #186CB0;
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
}

#container_le_formateur{
    background-color: rgb(221, 220, 220);
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
#image_le_formateur{
    width: 200px;
}
#titre_du_film{
    font-weight: bold;
}
#div_le_formateur{
    display: flex;
    padding: 15px;

}
#infos_general_film{
    background-color: #C4C4C4;
    display: flex;
    margin: 15px;
    
}
#description_image_le_foramteur{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    
}
#description_du_film{
    padding: 15px;
    width: 40%;
}
#comedie{
    color: white;
    background-color:#4F8B1A ;
}

#contaire_infos_film{
    display: flex;
    justify-content: space-around;
    background-color: #186CB0;
    border-radius: 5px;
    margin-left: 50px;
    margin: 5px;
    width: 20%;
}
#infos_parti_1{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 5px;

}
.icon_section_4{
    filter: invert(100%) grayscale(100%);
}
#complet{
    color: black;
    background-color: #FFEA61;
}
#section_4{
    background-color: rgb(221, 220, 220);
    margin: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 75px;
}
/*  */
/* FOOTER */
footer{
    background-color: #186CB0;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}